<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/Atos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ùêêùêÆùêûùê¨ùê≠ùê¢ùê®ùêß
You are given a large e-commerce transaction dataset stored in a partitioned format based on country.
 Your task is to count the distinct number of products purchased (product_id) for each customer_id in every country.
 The result should include the country, customer ID, and the distinct product count.

ùê¨ùêúùê°ùêûùê¶ùêö
# Sample data data = [ ("USA", 101, "P001"),
("USA", 101, "P002"), ("USA", 101, "P001"),
("USA", 102, "P003"), ("USA", 102, "P003"),
("UK", 201, "P004"), ("UK", 201, "P005"),
("UK", 202, "P004"), ("UK", 202, "P005"), ("UK", 202, "P004") ]

 # Define schema and create DataFrame columns = ["country", "customer_id", "product_id"]

In [3]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *


spark=SparkSession.builder.appName("learning").getOrCreate()


data= [ ("USA", 101, "P001"),
("USA", 101, "P002"), ("USA", 101, "P001"),
("USA", 102, "P003"), ("USA", 102, "P003"),
("UK", 201, "P004"), ("UK", 201, "P005"),
("UK", 202, "P004"), ("UK", 202, "P005"), ("UK", 202, "P004") ]

schema= ["country", "customer_id", "product_id"]


df=spark.createDataFrame(data,schema)

df.show()

df1=df.groupBy('country','customer_id').agg(countDistinct('product_id').alias('product_count'))

df1.show()

+-------+-----------+----------+
|country|customer_id|product_id|
+-------+-----------+----------+
|    USA|        101|      P001|
|    USA|        101|      P002|
|    USA|        101|      P001|
|    USA|        102|      P003|
|    USA|        102|      P003|
|     UK|        201|      P004|
|     UK|        201|      P005|
|     UK|        202|      P004|
|     UK|        202|      P005|
|     UK|        202|      P004|
+-------+-----------+----------+

+-------+-----------+-------------+
|country|customer_id|product_count|
+-------+-----------+-------------+
|    USA|        101|            2|
|     UK|        202|            2|
|     UK|        201|            2|
|    USA|        102|            1|
+-------+-----------+-------------+