<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/capgemini1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

ùêêùêÆùêûùê¨ùê≠ùê¢ùê®ùêß
You are working as a Data Engineer for a company that deals with customer data across different regions. The company uses Apache Spark to process large datasets.
Your task is to fill the missing values in the DataFrame dynamically based on the column data types.

The columns contain different types of data, including numeric, categorical, and string values. Your objective is to:
1. Fill numeric columns with the median value.
2. Fill categorical columns with the most frequent value.
3. Fill string columns with "Unknown".

ùê¨ùêúùê°ùêûùê¶ùêö
data = [ (1, 25, 'North', 'M', '2025-01-01', 150),
 (2, None, 'East', None, '2025-01-02', None),
 (3, 30, 'South', 'F', None, 200),
 (4, 22, None, 'M', '2025-01-03', 180),
 (5, 28, 'West', 'F', None, None), ]

# Column names columns = ['Customer_ID', 'Age', 'Region', 'Gender', 'Last_Visit', 'Purchase_Amount']

In [13]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()

data= [ (1, 25, 'North', 'M', '2025-01-01', 150),
 (2, None, 'East', None, '2025-01-02', None),
 (3, 30, 'South', 'F', None, 200),
 (4, 22, None, 'M', '2025-01-03', 180),
 (5, 28, 'West', 'F', None, None), ]

schema=['Customer_ID', 'Age', 'Region', 'Gender', 'Last_Visit', 'Purchase_Amount']

df=spark.createDataFrame(data,schema)

df.printSchema()

print(df.dtypes)

df.show()

def fill_missing_values(df):

  column_types=df.dtypes

  for column,d_type in column_types:

    if d_type=='int' or d_type=='bigint' or d_type=='long':

      median_value=df.approxQuantile(column,[0.5],0)[0]

      df=df.fillna({column:median_value})

    elif d_type=='string':
      df=df.fillna({column:'Unknown'})

    else:
      df=df.fillna({column:'unknown'})

  return df




filled_df=fill_missing_values(df)

filled_df.show()

root
 |-- Customer_ID: long (nullable = true)
 |-- Age: long (nullable = true)
 |-- Region: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Last_Visit: string (nullable = true)
 |-- Purchase_Amount: long (nullable = true)

[('Customer_ID', 'bigint'), ('Age', 'bigint'), ('Region', 'string'), ('Gender', 'string'), ('Last_Visit', 'string'), ('Purchase_Amount', 'bigint')]
+-----------+----+------+------+----------+---------------+
|Customer_ID| Age|Region|Gender|Last_Visit|Purchase_Amount|
+-----------+----+------+------+----------+---------------+
|          1|  25| North|     M|2025-01-01|            150|
|          2|NULL|  East|  NULL|2025-01-02|           NULL|
|          3|  30| South|     F|      NULL|            200|
|          4|  22|  NULL|     M|2025-01-03|            180|
|          5|  28|  West|     F|      NULL|           NULL|
+-----------+----+------+------+----------+---------------+

+-----------+---+-------+-------+----------+---------------+
|Customer_ID|Age| Region| Gender|Last_Visit|Purchase_Amount|
+-----------+---+-------+-------+----------+---------------+
|          1| 25|  North|      M|2025-01-01|            150|
|          2| 25|   East|Unknown|2025-01-02|            180|
|          3| 30|  South|      F|   Unknown|            200|
|          4| 22|Unknown|      M|2025-01-03|            180|
|          5| 28|   West|      F|   Unknown|            180|
+-----------+---+-------+-------+----------+---------------+