<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/Coforge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Write a Pypark code to filter customer transactions greater than $10,000, transform customer names to have the first letter capitalized
and the rest in lowercase and compute the average transaction amount for each product category.

In [4]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()

data = [
    (1, "ALICE", 12000, "Electronics"),
    (2, "BOB", 9000, "Home Appliances"),
    (3, "CHARLIE", 15000, "Fashion"),
    (4, "DANIEL", 8000, "Electronics"),
    (5, "EMMA", 11000, "Fashion"),
    (6, "FRANK", 13000, "Home Appliances"),
    (7, "GINA", 10000, "Electronics"),
    (8, "HENRY", 14000, "Fashion"),
    (9, "ISABELLA", 9500, "Home Appliances"),
    (10, "JACK", 10500, "Electronics")
]

customer_df = spark.createDataFrame(data, ["customer_id", "customer_name", "transaction", "product_category"])

customer_df.show()

transformed_df=customer_df.withColumn("customer_transformed_name", initcap(col('customer_name')))

filtered_df=transformed_df.filter(col('transaction')> 10000)

filtered_df.show()

average_df=filtered_df.groupBy('product_category').agg(avg('transaction').alias('avg_transaction'))

result_df=(filtered_df.select("customer_transformed_name","product_category","transaction")).join(average_df,"product_category","inner").orderBy('product_category')

result_df.show()

+-----------+-------------+-----------+----------------+
|customer_id|customer_name|transaction|product_category|
+-----------+-------------+-----------+----------------+
|          1|        ALICE|      12000|     Electronics|
|          2|          BOB|       9000| Home Appliances|
|          3|      CHARLIE|      15000|         Fashion|
|          4|       DANIEL|       8000|     Electronics|
|          5|         EMMA|      11000|         Fashion|
|          6|        FRANK|      13000| Home Appliances|
|          7|         GINA|      10000|     Electronics|
|          8|        HENRY|      14000|         Fashion|
|          9|     ISABELLA|       9500| Home Appliances|
|         10|         JACK|      10500|     Electronics|
+-----------+-------------+-----------+----------------+

+-----------+-------------+-----------+----------------+-------------------------+
|customer_id|customer_name|transaction|product_category|customer_transformed_name|
+-----------+-------------+-----------+----------------+-------------------------+
|          1|        ALICE|      12000|     Electronics|                    Alice|
|          3|      CHARLIE|      15000|         Fashion|                  Charlie|
|          5|         EMMA|      11000|         Fashion|                     Emma|
|          6|        FRANK|      13000| Home Appliances|                    Frank|
|          8|        HENRY|      14000|         Fashion|                    Henry|
|         10|         JACK|      10500|     Electronics|                     Jack|
+-----------+-------------+-----------+----------------+-------------------------+

+----------------+-------------------------+-----------+------------------+
|product_category|customer_transformed_name|transaction|   avg_transaction|
+----------------+-------------------------+-----------+------------------+
|     Electronics|                    Alice|      12000|           11250.0|
|     Electronics|                     Jack|      10500|           11250.0|
|         Fashion|                  Charlie|      15000|13333.333333333334|
|         Fashion|                     Emma|      11000|13333.333333333334|
|         Fashion|                    Henry|      14000|13333.333333333334|
| Home Appliances|                    Frank|      13000|           13000.0|
+----------------+-------------------------+-----------+------------------+