<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/cognizant1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ğğ®ğğ¬ğ­ğ¢ğ¨ğ§:
Handle Missing Data Efficiently
You have a DataFrame containing sales data. Write a PySpark script to:
Replace missing values in the price column with the mean price.
Drop rows where the product column is null.
Fill missing values in the quantity column with 1.

ğ¬ğœğ¡ğğ¦ğš ğšğ§ğ ğğšğ­ğšğ¬ğğ­
data = [ (1, "Laptop", 1000, 5), (2, "Mouse", None, None), (3, "Keyboard", 50, 2), (4, "Monitor", 200, None), (5, None, 500, None), ]

# Define schema and create DataFrame
columns = ["product_id", "product", "price", "quantity"]

In [7]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName('learning').getOrCreate()

data=[(1, "Laptop", 1000, 5), (2, "Mouse", None, None), (3, "Keyboard", 50, 2), (4, "Monitor", 200, None), (5, None, 500, None), ]

schema=["product_id", "product", "price", "quantity"]

df=spark.createDataFrame(data,schema)

df.show()

mean_price=df.select(mean(col('price'))).collect()[0][0]

df1=df.fillna({'price':mean_price})

df1.show()

df2=df1.filter(col('product').isNotNull())

df2.show()

df3=df2.fillna({'quantity':1})

df3.show()

+----------+--------+-----+--------+
|product_id| product|price|quantity|
+----------+--------+-----+--------+
|         1|  Laptop| 1000|       5|
|         2|   Mouse| NULL|    NULL|
|         3|Keyboard|   50|       2|
|         4| Monitor|  200|    NULL|
|         5|    NULL|  500|    NULL|
+----------+--------+-----+--------+

+----------+--------+-----+--------+
|product_id| product|price|quantity|
+----------+--------+-----+--------+
|         1|  Laptop| 1000|       5|
|         2|   Mouse|  437|    NULL|
|         3|Keyboard|   50|       2|
|         4| Monitor|  200|    NULL|
|         5|    NULL|  500|    NULL|
+----------+--------+-----+--------+

+----------+--------+-----+--------+
|product_id| product|price|quantity|
+----------+--------+-----+--------+
|         1|  Laptop| 1000|       5|
|         2|   Mouse|  437|    NULL|
|         3|Keyboard|   50|       2|
|         4| Monitor|  200|    NULL|
+----------+--------+-----+--------+

+----------+--------+-----+--------+
|product_id| product|price|quantity|
+----------+--------+-----+--------+
|         1|  Laptop| 1000|       5|
|         2|   Mouse|  437|       1|
|         3|Keyboard|   50|       2|
|         4| Monitor|  200|       1|
+----------+--------+-----+--------+