<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/collect_list().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data = [('a','aa',1),
 ('a','aa',2),
 ('b','bb',5),
 ('b','bb',3),
 ('b','bb',4)]
cols =  ['col1','col2','col3']
Expected Output:
+----+----+---------+
|col1 |col2|   col3 |
+----+----+---------+
|  a | aa |  [1, 2] |
|  b | bb |[5, 3, 4] |
+----+----+---------+

In [6]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()

data=[('a','aa',1),
 ('a','aa',2),
 ('b','bb',5),
 ('b','bb',3),
 ('b','bb',4)]

schema =  ['col1','col2','col3']

df=spark.createDataFrame(data,schema)

df.show()

df.printSchema()

df1=df.groupBy('col1','col2').agg(collect_list('col3').alias('col3'))

df1.show()

+----+----+----+
|col1|col2|col3|
+----+----+----+
|   a|  aa|   1|
|   a|  aa|   2|
|   b|  bb|   5|
|   b|  bb|   3|
|   b|  bb|   4|
+----+----+----+

root
 |-- col1: string (nullable = true)
 |-- col2: string (nullable = true)
 |-- col3: long (nullable = true)

+----+----+---------+
|col1|col2|     col3|
+----+----+---------+
|   a|  aa|   [1, 2]|
|   b|  bb|[5, 3, 4]|
+----+----+---------+