<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/Eclerx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

𝐐𝐮𝐞𝐬𝐭𝐢𝐨𝐧
You are working as a Data Engineer and need to clean up a dataset that contains customer order information. The dataset includes details such as the customer ID, order ID,
order date, and the total amount. Due to a data processing issue, some rows are duplicated, and you need to remove duplicates based on a composite key of customer_id and order_id,
 keeping only the latest order (based on the order_date).
You need to remove the duplicate rows based on the composite key (customer_id, order_id) and retain only the row with the latest order_date for each combination of customer_id and
 order_id.

𝐬𝐜𝐡𝐞𝐦𝐚
data = [ (101, 1001, "2025-01-15", 500.00), (102, 1002, "2025-01-14", 300.00), (101, 1001, "2025-01-17", 550.00), (103, 1003, "2025-01-16", 450.00),
(102, 1002, "2025-01-18", 320.00), (103, 1003, "2025-01-19", 460.00) ]

# Define schema schema = ["customer_id", "order_id", "order_date", "total_amount"]

In [7]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

from pyspark.sql.window import Window

spark=SparkSession.builder.appName("learning").getOrCreate()

data=[ (101, 1001, "2025-01-15", 500.00), (102, 1002, "2025-01-14", 300.00), (101, 1001, "2025-01-17", 550.00), (103, 1003, "2025-01-16", 450.00),
(102, 1002, "2025-01-18", 320.00), (103, 1003, "2025-01-19", 460.00) ]

schema=["customer_id", "order_id", "order_date", "total_amount"]

df=spark.createDataFrame(data,schema)

df.show()

window_spec=Window.partitionBy('customer_id','order_id').orderBy(col('order_date').desc())

df1=df.withColumn('rank',dense_rank().over(window_spec)).filter("rank==1").select("customer_id","order_id","order_date","total_amount")

df1.show()

+-----------+--------+----------+------------+
|customer_id|order_id|order_date|total_amount|
+-----------+--------+----------+------------+
|        101|    1001|2025-01-15|       500.0|
|        102|    1002|2025-01-14|       300.0|
|        101|    1001|2025-01-17|       550.0|
|        103|    1003|2025-01-16|       450.0|
|        102|    1002|2025-01-18|       320.0|
|        103|    1003|2025-01-19|       460.0|
+-----------+--------+----------+------------+

+-----------+--------+----------+------------+
|customer_id|order_id|order_date|total_amount|
+-----------+--------+----------+------------+
|        101|    1001|2025-01-17|       550.0|
|        102|    1002|2025-01-18|       320.0|
|        103|    1003|2025-01-19|       460.0|
+-----------+--------+----------+------------+