<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/Eclerx1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ğğ®ğğ¬ğ­ğ¢ğ¨ğ§
You are given a PySpark DataFrame containing a column named input_date with dates in various formats. The task is to:

- Validate the date format and filter rows where input_date matches the format "yyyy-MM-dd".
- Transform valid dates into the format "MM/dd/yyyy".
- For invalid dates, replace them with the string "Invalid Date".
- Output the transformed DataFrame with a new column named validated_date.


ğ¬ğœğ¡ğğ¦ğš
data = [ ("2023-12-31",), ("31-12-2023",),
 ("2023/12/31",), ("2024-01-01",),
 ("13-01-2023",), ("invalid",), ("2022-02-28",) ]

 columns = ["input_date"]

In [9]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()


data=[ ("2023-12-31",), ("31-12-2023",),
 ("2023/12/31",), ("2024-01-01",),
 ("13-01-2023",), ("invalid",), ("2022-02-28",) ]

schema=["input_date"]

df=spark.createDataFrame(data,schema)

df.show()

df1=df.withColumn("validated_date",when(  to_date(col('input_date'),'yyyy-MM-dd').isNotNull(),date_format(to_date(col('input_date'),'yyyy-MM-dd'),'MM/dd/yyyy'))\
      .otherwise("Invalid_date"))

df1.show()

+----------+
|input_date|
+----------+
|2023-12-31|
|31-12-2023|
|2023/12/31|
|2024-01-01|
|13-01-2023|
|   invalid|
|2022-02-28|
+----------+

+----------+--------------+
|input_date|validated_date|
+----------+--------------+
|2023-12-31|    12/31/2023|
|31-12-2023|  Invalid_date|
|2023/12/31|  Invalid_date|
|2024-01-01|    01/01/2024|
|13-01-2023|  Invalid_date|
|   invalid|  Invalid_date|
|2022-02-28|    02/28/2022|
+----------+--------------+