<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/Facebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
We are given a table named famous that tracks user-follow relationships. Each record in the table represents a user_id and a follower_id,
where the follower_id is following the user_id. Our task is to calculate the "famous percentage" for each user, which is defined as:

Famous Percentage= Number of Followers of a User
                  ------------------------------------- * 100
                  Total Number of Users on the Platform

famous_data = [
    (1, 2), (1, 3), (2, 4), (5, 1), (5, 3),
    (11, 7), (12, 8), (13, 5), (13, 10),
    (14, 12), (14, 3), (15, 14), (15, 13)
]

columns = ["user_id", "follower_id"]

In [7]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("FamousPercentage").getOrCreate()

famous_data = [
    (1, 2), (1, 3), (2, 4), (5, 1), (5, 3),
    (11, 7), (12, 8), (13, 5), (13, 10),
    (14, 12), (14, 3), (15, 14), (15, 13)
]

schema = ["user_id", "follower_id"]

df=spark.createDataFrame(famous_data,schema)

df.show()

totalUserCount=df.select("user_id").union(df.select("follower_id")).distinct().count()

print("totalUserCount :", totalUserCount)

df1=df.groupBy('user_id').agg(countDistinct('follower_id').alias('follower_count'))\
.withColumn('famous_percentage',(col('follower_count')/totalUserCount)*100)

df1.show()

+-------+-----------+
|user_id|follower_id|
+-------+-----------+
|      1|          2|
|      1|          3|
|      2|          4|
|      5|          1|
|      5|          3|
|     11|          7|
|     12|          8|
|     13|          5|
|     13|         10|
|     14|         12|
|     14|          3|
|     15|         14|
|     15|         13|
+-------+-----------+

totalUserCount : 13
+-------+--------------+------------------+
|user_id|follower_count| famous_percentage|
+-------+--------------+------------------+
|      5|             2|15.384615384615385|
|      1|             2|15.384615384615385|
|     12|             1|7.6923076923076925|
|     11|             1|7.6923076923076925|
|      2|             1|7.6923076923076925|
|     13|             2|15.384615384615385|
|     14|             2|15.384615384615385|
|     15|             2|15.384615384615385|
+-------+--------------+------------------+