<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/Globant.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
𝐐𝐮𝐞𝐬𝐭𝐢𝐨𝐧
You are working on a data pipeline where the input dataset contains a column with multiple comma-separated values in each row. Your task is to split the values in this column into multiple rows to make the dataset suitable for downstream processing.

𝐬𝐜𝐡𝐞𝐦𝐚
data = [ (1, "apple,banana,orange"),
 (2, "mango,grapes"), (3, "pineapple") ]

columns = ["ID", "Tags"]

In [3]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()

data = [ (1, "apple,banana,orange"),
 (2, "mango,grapes"), (3, "pineapple") ]

schema= ["ID", "Tags"]

df=spark.createDataFrame(data,schema)

df.show()

df1=df.withColumn('Tags',explode(split('Tags',',')))

df1.show()

+---+-------------------+
| ID|               Tags|
+---+-------------------+
|  1|apple,banana,orange|
|  2|       mango,grapes|
|  3|          pineapple|
+---+-------------------+

+---+---------+
| ID|     Tags|
+---+---------+
|  1|    apple|
|  1|   banana|
|  1|   orange|
|  2|    mango|
|  2|   grapes|
|  3|pineapple|
+---+---------+