<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/Google.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
We need to identify mutual friends between two users in a dataset consisting of users and their friendships.

In [6]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("user_friends").getOrCreate()

users_data = [(1, 'Karl'), (2, 'Hans'), (3, 'Emma'), (4, 'Emma'), (5, 'Mike')]
friends_data = [(1, 3), (1, 5), (2, 3), (2, 4)]

users_df = spark.createDataFrame(users_data, ["user_id", "user_name"])
friends_df = spark.createDataFrame(friends_data, ["user_id", "friend_id"])

users_df.show()
friends_df.show()

df=users_df.join(friends_df,"user_id","inner")

df.show()

df1=df.groupBy('friend_id').agg(countDistinct('user_id').alias('user_count')).filter("user_count > 1")

df1.show()

df2=df1.join(users_df,col('friend_id')==col('user_id'),"inner").select("user_id","user_name")

df2.show()

+-------+---------+
|user_id|user_name|
+-------+---------+
|      1|     Karl|
|      2|     Hans|
|      3|     Emma|
|      4|     Emma|
|      5|     Mike|
+-------+---------+

+-------+---------+
|user_id|friend_id|
+-------+---------+
|      1|        3|
|      1|        5|
|      2|        3|
|      2|        4|
+-------+---------+

+-------+---------+---------+
|user_id|user_name|friend_id|
+-------+---------+---------+
|      1|     Karl|        3|
|      1|     Karl|        5|
|      2|     Hans|        3|
|      2|     Hans|        4|
+-------+---------+---------+

+---------+----------+
|friend_id|user_count|
+---------+----------+
|        3|         2|
+---------+----------+

+-------+---------+
|user_id|user_name|
+-------+---------+
|      3|     Emma|
+-------+---------+