<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/Imp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
𝐐𝐮𝐞𝐬𝐭𝐢𝐨𝐧:
You are given a dataset of employees with the following columns: name, department,
salary, and hire_date. You need to calculate the ROW_NUMBER() partitioned by department and
ordered by salary in descending order. Additionally, the employees should be ranked within
each department based on their hiring date if their salaries are the same. Add a new column
called rank to the DataFrame that contains the calculated row numbers.

𝐬𝐜𝐡𝐞𝐦𝐚 𝐚𝐧𝐝 𝐝𝐚𝐭𝐚𝐬𝐞𝐭
data = [ ("John", "HR", 5000, "2021-05-01"),
("Jane", "HR", 6000, "2022-03-15"),
("Sam", "Engineering", 7000, "2021-06-01"),
("Anna", "Engineering", 8000, "2020-07-01"),
("Paul", "HR", 4500, "2021-05-01"),
("Sara", "Engineering", 7000, "2020-08-01"),
("Tom", "Engineering", 7500, "2021-07-01") ]

Create DataFrame columns = ["name", "department", "salary", "hire_date"]

In [5]:

from pyspark.sql import SparkSession

from pyspark.sql.window import Window

from pyspark.sql.functions import *

spark=SparkSession.builder.appName('learning').getOrCreate()

data=[ ("John", "HR", 5000, "2021-05-01"),
("Jane", "HR", 6000, "2022-03-15"),
("Sam", "Engineering", 7000, "2021-06-01"),
("Anna", "Engineering", 8000, "2020-07-01"),
("Paul", "HR", 4500, "2021-05-01"),
("Sara", "Engineering", 7000, "2020-08-01"),
("Tom", "Engineering", 7500, "2021-07-01") ]

schema=["name", "department", "salary", "hire_date"]

df=spark.createDataFrame(data,schema)

df.show()

window_spec=Window.partitionBy('department').orderBy(col('salary').desc(),col('hire_date').asc())



df1=df.withColumn('rank',row_number().over(window_spec))

df1.show()

+----+-----------+------+----------+
|name| department|salary| hire_date|
+----+-----------+------+----------+
|John|         HR|  5000|2021-05-01|
|Jane|         HR|  6000|2022-03-15|
| Sam|Engineering|  7000|2021-06-01|
|Anna|Engineering|  8000|2020-07-01|
|Paul|         HR|  4500|2021-05-01|
|Sara|Engineering|  7000|2020-08-01|
| Tom|Engineering|  7500|2021-07-01|
+----+-----------+------+----------+

+----+-----------+------+----------+----+
|name| department|salary| hire_date|rank|
+----+-----------+------+----------+----+
|Anna|Engineering|  8000|2020-07-01|   1|
| Tom|Engineering|  7500|2021-07-01|   2|
|Sara|Engineering|  7000|2020-08-01|   3|
| Sam|Engineering|  7000|2021-06-01|   4|
|Jane|         HR|  6000|2022-03-15|   1|
|John|         HR|  5000|2021-05-01|   2|
|Paul|         HR|  4500|2021-05-01|   3|
+----+-----------+------+----------+----+