<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/Imp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
𝐐𝐮𝐞𝐬𝐭𝐢𝐨𝐧:
You are working as a Data Engineer for a retail company that operates in multiple
regions. The sales data is collected daily, and the company wants to analyze the
performance of each product across different regions. The data is stored in a
PySpark DataFrame with the following schema:The management has requested a report
where each region becomes a column and the values represent the total sales for
each product in that region. Your task is to write PySpark code to generate this pivot table.

Task:
1. Load the sample data into a PySpark DataFrame.
2. Use PySpark's pivot functionality to create a table where:
Each region is a column.
The rows represent the products.
The values are the total sales for each product in each region.
3. Provide the output DataFrame in a user-friendly format for the stakeholders.

𝐬𝐜𝐡𝐞𝐦𝐚 𝐚𝐧𝐝 𝐝𝐚𝐭𝐚𝐬𝐞𝐭

Sample Data data = [ ("A", "North", 100), ("B", "East", 200), ("A", "East", 150)
, ("C", "North", 300), ("B", "South", 400), ("C", "East", 250) ]


columns = ["Product", "Region", "Sales"]

In [8]:

from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()

data=[ ("A", "North", 100), ("B", "East", 200), ("A", "East", 150)
, ("C", "North", 300), ("B", "South", 400), ("C", "East", 250) ]

schema=["Product", "Region", "Sales"]

df=spark.createDataFrame(data,schema)

df.show()

df1=df.groupBy('product').pivot('Region').sum('Sales')

df1.show()

df2=df.groupBy('product').pivot('Region').agg(sum('Sales'))

df2.show()

# Note aggregate is used to perform multiple aggregations on  different columns

+-------+------+-----+
|Product|Region|Sales|
+-------+------+-----+
|      A| North|  100|
|      B|  East|  200|
|      A|  East|  150|
|      C| North|  300|
|      B| South|  400|
|      C|  East|  250|
+-------+------+-----+

+-------+----+-----+-----+
|product|East|North|South|
+-------+----+-----+-----+
|      B| 200| NULL|  400|
|      C| 250|  300| NULL|
|      A| 150|  100| NULL|
+-------+----+-----+-----+

+-------+----+-----+-----+
|product|East|North|South|
+-------+----+-----+-----+
|      B| 200| NULL|  400|
|      C| 250|  300| NULL|
|      A| 150|  100| NULL|
+-------+----+-----+-----+