<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/Imp5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ðð®ðžð¬ð­ð¢ð¨ð§:
You have a dataset of transactions with the following fields:
transaction_id (integer): Unique ID for each transaction.
user_id (integer): ID of the user performing the transaction.
transaction_amount (float): Amount of the transaction.
transaction_date (string): Date of the transaction in yyyy-MM-dd format.
From this dataset, perform the following operations:
Identify users who have made transactions on at least 3 different dates.
For these users, calculate their average transaction amount.

ð¬ðœð¡ðžð¦ðš ðšð§ð ððšð­ðšð¬ðžð­
data = [
 (1, 101, 500.0, "2024-01-01"),
 (2, 102, 200.0, "2024-01-02"),
 (3, 101, 300.0, "2024-01-03"),
 (4, 103, 100.0, "2024-01-04"),
 (5, 102, 400.0, "2024-01-05"),
 (6, 103, 600.0, "2024-01-06"),
 (7, 101, 200.0, "2024-01-07"),
]
columns = ["transaction_id", "user_id", "transaction_amount", "transaction_date"]

In [5]:
from pyspark.sql import SparkSession

from pyspark.sql.window import Window

from pyspark.sql.functions import *

spark=SparkSession.builder.appName('learning').getOrCreate()

data= [
 (1, 101, 500.0, "2024-01-01"),
 (2, 102, 200.0, "2024-01-02"),
 (3, 101, 300.0, "2024-01-03"),
 (4, 103, 100.0, "2024-01-04"),
 (5, 102, 400.0, "2024-01-05"),
 (6, 103, 600.0, "2024-01-06"),
 (7, 101, 200.0, "2024-01-07"),
]

schema=["transaction_id", "user_id", "transaction_amount", "transaction_date"]

df=spark.createDataFrame(data,schema)

df.show()

df1=df.groupBy('user_id').agg(countDistinct('transaction_date').alias('distinctdatecount'))

df1.show()

df2=df1.filter(col('distinctdatecount')>=3).withColumnRenamed('user_id','cust_id')

df2.show()

df3=df2.join(df,col('cust_id')==col('user_id'),"inner")

df3.show()

df4=df3.groupBy('user_id').agg(avg('transaction_amount').alias('avg_amount'))

df4.show()

+--------------+-------+------------------+----------------+
|transaction_id|user_id|transaction_amount|transaction_date|
+--------------+-------+------------------+----------------+
|             1|    101|             500.0|      2024-01-01|
|             2|    102|             200.0|      2024-01-02|
|             3|    101|             300.0|      2024-01-03|
|             4|    103|             100.0|      2024-01-04|
|             5|    102|             400.0|      2024-01-05|
|             6|    103|             600.0|      2024-01-06|
|             7|    101|             200.0|      2024-01-07|
+--------------+-------+------------------+----------------+

+-------+-----------------+
|user_id|distinctdatecount|
+-------+-----------------+
|    103|                2|
|    101|                3|
|    102|                2|
+-------+-----------------+

+-------+-----------------+
|cust_id|distinctdatecount|
+-------+-----------------+
|    101|                3|
+-------+-----------------+

+-------+-----------------+--------------+-------+------------------+----------------+
|cust_id|distinctdatecount|transaction_id|user_id|transaction_amount|transaction_date|
+-------+-----------------+--------------+-------+------------------+----------------+
|    101|                3|             1|    101|             500.0|      2024-01-01|
|    101|                3|             3|    101|             300.0|      2024-01-03|
|    101|                3|             7|    101|             200.0|      2024-01-07|
+-------+-----------------+--------------+-------+------------------+----------------+

+-------+-----------------+
|user_id|       avg_amount|
+-------+-----------------+
|    101|333.3333333333333|
+-------+-----------------+