<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/Imp6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
𝐐𝐮𝐞𝐬𝐭𝐢𝐨𝐧:
You have a dataset of transactions that contains the following fields:
transaction_id (integer): Unique ID for each transaction.
user_id (integer): ID of the user performing the transaction.
transaction_amount (float): Amount of the transaction.
transaction_date (string): Date of the transaction in yyyy-MM-dd format.
From this dataset, perform the following operations:
Find the top 3 users with the highest total transaction amounts.
Among these top 3 users, for each, identify the most recent transaction date.

𝐬𝐜𝐡𝐞𝐦𝐚 𝐚𝐧𝐝 𝐝𝐚𝐭𝐚𝐬𝐞𝐭
data = [ (1, 101, 500.0, "2024-01-01"), (2, 102, 200.0, "2024-01-02"),
(3, 101, 300.0, "2024-01-03"), (4, 103, 100.0, "2024-01-04"),
(5, 102, 400.0, "2024-01-05"), (6, 103, 600.0, "2024-01-06"),
(7, 101, 200.0, "2024-01-07"), ]

columns = ["transaction_id", "user_id", "transaction_amount", "transaction_date"]

In [5]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()

data= [ (1, 101, 500.0, "2024-01-01"), (2, 102, 200.0, "2024-01-02"),
(3, 101, 300.0, "2024-01-03"), (4, 103, 100.0, "2024-01-04"),
(5, 102, 400.0, "2024-01-05"), (6, 103, 600.0, "2024-01-06"),
(7, 101, 200.0, "2024-01-07"), ]

schema=["transaction_id", "user_id", "transaction_amount", "transaction_date"]

df=spark.createDataFrame(data,schema)

df.printSchema()

df.show()

df1=df.groupBy('user_id').agg(sum(col('transaction_amount')).alias('total_amount'), max(col('transaction_date')).alias('recent_transaction_date'))

df1.show()

df2=df1.orderBy(col('total_amount').desc()).limit(3)

df2.show()

root
 |-- transaction_id: long (nullable = true)
 |-- user_id: long (nullable = true)
 |-- transaction_amount: double (nullable = true)
 |-- transaction_date: string (nullable = true)

+--------------+-------+------------------+----------------+
|transaction_id|user_id|transaction_amount|transaction_date|
+--------------+-------+------------------+----------------+
|             1|    101|             500.0|      2024-01-01|
|             2|    102|             200.0|      2024-01-02|
|             3|    101|             300.0|      2024-01-03|
|             4|    103|             100.0|      2024-01-04|
|             5|    102|             400.0|      2024-01-05|
|             6|    103|             600.0|      2024-01-06|
|             7|    101|             200.0|      2024-01-07|
+--------------+-------+------------------+----------------+

+-------+------------+-----------------------+
|user_id|total_amount|recent_transaction_date|
+-------+------------+-----------------------+
|    101|      1000.0|             2024-01-07|
|    102|       600.0|             2024-01-05|
|    103|       700.0|             2024-01-06|
+-------+------------+-----------------------+

+-------+------------+-----------------------+
|user_id|total_amount|recent_transaction_date|
+-------+------------+-----------------------+
|    101|      1000.0|             2024-01-07|
|    103|       700.0|             2024-01-06|
|    102|       600.0|             2024-01-05|
+-------+------------+-----------------------+