<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/Imp7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
𝐐𝐮𝐞𝐬𝐭𝐢𝐨𝐧:
You are given a dataset containing employee data with their department, year of joining, and monthly salary.
Each row contains the department name, the year of joining, and the monthly salary of an employee.
Your task is to:
Calculate the average monthly salary for each department.
Filter out departments with an average salary lower than 3000.
Calculate the total salary paid by each department over all years.
Sort the results by total salary paid in descending order.

𝐬𝐜𝐡𝐞𝐦𝐚 𝐚𝐧𝐝 𝐝𝐚𝐭𝐚𝐬𝐞𝐭
data = [
 ("HR", "2020", 2500),
 ("HR", "2021", 3200),
 ("HR", "2022", 2800),
 ("Engineering", "2020", 5000),
 ("Engineering", "2021", 6000),
 ("Engineering", "2022", 5500),
 ("Marketing", "2020", 4000),
 ("Marketing", "2021", 3500),
 ("Marketing", "2022", 3300)
]

In [5]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

from pyspark.sql.window import Window

spark=SparkSession.builder.appName('learning').getOrCreate()

data= [
 ("HR", "2020", 2500),
 ("HR", "2021", 3200),
 ("HR", "2022", 2800),
 ("Engineering", "2020", 5000),
 ("Engineering", "2021", 6000),
 ("Engineering", "2022", 5500),
 ("Marketing", "2020", 4000),
 ("Marketing", "2021", 3500),
 ("Marketing", "2022", 3300)
]

schema=["Department", "Year", "Salary"]

df=spark.createDataFrame(data,schema)

df.show()

df1=df.groupBy('department').agg(sum('Salary').alias('avg_salary')).filter(col('avg_salary')>=3000)

df1.show()

df2=df.groupBy('department').agg(sum('salary').alias('tot_salary')).orderBy(col('tot_salary').desc())

df2.show()

+-----------+----+------+
| Department|Year|Salary|
+-----------+----+------+
|         HR|2020|  2500|
|         HR|2021|  3200|
|         HR|2022|  2800|
|Engineering|2020|  5000|
|Engineering|2021|  6000|
|Engineering|2022|  5500|
|  Marketing|2020|  4000|
|  Marketing|2021|  3500|
|  Marketing|2022|  3300|
+-----------+----+------+

+-----------+----------+
| department|avg_salary|
+-----------+----------+
|Engineering|     16500|
|         HR|      8500|
|  Marketing|     10800|
+-----------+----------+

+-----------+----------+
| department|tot_salary|
+-----------+----------+
|Engineering|     16500|
|  Marketing|     10800|
|         HR|      8500|
+-----------+----------+