<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/Microsoft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
You are tasked with finding the number of transactions that occurred for each product.
The output should include the product name along with the corresponding number of transactions, and the records should be ordered product_id in ascending order.
You can ignore products without transactions.

In [6]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()

inventory_data = [
    (1, 'strawberry', 'produce', 'lb', 3.28, 1.77, 13),
    (2, 'apple_fuji', 'produce', 'lb', 1.44, 0.43, 2),
    (3, 'orange', 'produce', 'lb', 1.02, 0.37, 2),
    (4, 'clementines', 'produce', 'lb', 1.19, 0.44, 44),
    (5, 'blood_orange', 'produce', 'lb', 3.86, 1.66, 19)
]

transaction_data = [
    (153, '2016-01-06 08:57:52', 1),
    (91, '2016-01-07 12:17:27', 1),
    (31, '2016-01-05 13:19:25', 1),
    (24, '2016-01-03 10:47:44', 3),
    (4, '2016-01-06 17:57:42', 3),
    (163, '2016-01-03 10:11:22', 3),
    (92, '2016-01-08 12:03:20', 2),
    (32, '2016-01-04 19:37:14', 4),
    (253, '2016-01-06 14:15:20', 5),
    (118, '2016-01-06 14:27:33', 5)
]

# Define schema for inventory data
inventory_columns = ["product_id", "product_name", "product_type", "unit", "price_unit", "wholesale", "current_inventory"]

# Define schema for transaction data
transaction_columns = ["transaction_id", "time", "product_id"]

dfProduct=spark.createDataFrame(inventory_data,inventory_columns)

dfProduct.show()

dfTrans=spark.createDataFrame(transaction_data,transaction_columns)

dfTrans.show()

productTransCount=dfProduct.join(dfTrans, "product_id","inner")

productTransCount=productTransCount.groupBy("product_id","product_name").agg(count('transaction_id').alias("transaction_count"))

productTransCount.show()

resultDf=productTransCount.orderBy('product_id').select("product_name","transaction_count")

resultDf.show()

+----------+------------+------------+----+----------+---------+-----------------+
|product_id|product_name|product_type|unit|price_unit|wholesale|current_inventory|
+----------+------------+------------+----+----------+---------+-----------------+
|         1|  strawberry|     produce|  lb|      3.28|     1.77|               13|
|         2|  apple_fuji|     produce|  lb|      1.44|     0.43|                2|
|         3|      orange|     produce|  lb|      1.02|     0.37|                2|
|         4| clementines|     produce|  lb|      1.19|     0.44|               44|
|         5|blood_orange|     produce|  lb|      3.86|     1.66|               19|
+----------+------------+------------+----+----------+---------+-----------------+

+--------------+-------------------+----------+
|transaction_id|               time|product_id|
+--------------+-------------------+----------+
|           153|2016-01-06 08:57:52|         1|
|            91|2016-01-07 12:17:27|         1|
|            31|2016-01-05 13:19:25|         1|
|            24|2016-01-03 10:47:44|         3|
|             4|2016-01-06 17:57:42|         3|
|           163|2016-01-03 10:11:22|         3|
|            92|2016-01-08 12:03:20|         2|
|            32|2016-01-04 19:37:14|         4|
|           253|2016-01-06 14:15:20|         5|
|           118|2016-01-06 14:27:33|         5|
+--------------+-------------------+----------+

+----------+------------+-----------------+
|product_id|product_name|transaction_count|
+----------+------------+-----------------+
|         1|  strawberry|                3|
|         2|  apple_fuji|                1|
|         3|      orange|                3|
|         4| clementines|                1|
|         5|blood_orange|                2|
+----------+------------+-----------------+

+------------+-----------------+
|product_name|transaction_count|
+------------+-----------------+
|  strawberry|                3|
|  apple_fuji|                1|
|      orange|                3|
| clementines|                1|
|blood_orange|                2|
+------------+-----------------+