<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/Non_null_device.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Imagine a customer dataset with columns like device_using1, device_using2, and device_using3.
 Some rows may have null values, and we need to efficiently extract the first non-null device used by each customer.
ðŸš€

data=[(1, 'yes',None,None),(2, None,'yes',None),(3, 'No',None,'yes')]
schema=['customer_id','device_using1','device_using2','device_using3']

Expected output:
 [ (1, 'yes', None, None, 'yes'), (2, None, 'yes', None, 'yes'), (3, 'No', None, 'yes', 'No') ]

In [3]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()

data=[(1, 'yes',None,None),(2, None,'yes',None),(3, 'No',None,'yes')]

schema=['customer_id','device_using1','device_using2','device_using3']

df=spark.createDataFrame(data,schema)

df.show()

df1=df.withColumn('new',coalesce(col('device_using1'),col('device_using2'),col('device_using3')))

df1.show()

+-----------+-------------+-------------+-------------+
|customer_id|device_using1|device_using2|device_using3|
+-----------+-------------+-------------+-------------+
|          1|          yes|         NULL|         NULL|
|          2|         NULL|          yes|         NULL|
|          3|           No|         NULL|          yes|
+-----------+-------------+-------------+-------------+

+-----------+-------------+-------------+-------------+---+
|customer_id|device_using1|device_using2|device_using3|new|
+-----------+-------------+-------------+-------------+---+
|          1|          yes|         NULL|         NULL|yes|
|          2|         NULL|          yes|         NULL|yes|
|          3|           No|         NULL|          yes| No|
+-----------+-------------+-------------+-------------+---+