<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/pepsico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
You have two DataFrames: one containing employee information (employees) and another containing department information (departments).
Write a PySpark function to join these DataFrames on the department ID and fill any missing salary values with the average salary of
the respective department.

In [3]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()

employee_data = [
    (1, "Alice", 70000, 10),
    (2, "Bob", None, 20),  # Missing salary
    (3, "Charlie", 80000, 10),
    (4, "David", None, 30),  # Missing salary
    (5, "Eve", 75000, 20),
    (6, "Frank", 90000, 10),
    (7, "Grace", 52000, 30),
    (8, "Hannah", 62000, 20),
    (9, "Isaac", None, 30),  # Missing salary
    (10, "Jack", 71000, 20)
]

employee_columns = ["employee_id", "name", "salary", "department_id"]

department_data = [
    (10, "Engineering"),
    (20, "HR"),
    (30, "Marketing")
]

department_columns = ["department_id", "department_name"]

empDf=spark.createDataFrame(employee_data,employee_columns)

empDf.show()

depDf=spark.createDataFrame(department_data,department_columns)

depDf.show()

empSalDf=empDf.join(depDf,"department_id","inner")

empSalDf.show()

depAvgSal=empSalDf.groupBy('department_id').agg(avg('salary').alias("avg_salary"))

resultDf=empSalDf.join(depAvgSal,"department_id","inner").\
                  withColumn("salary",when(col('salary').isNull(),col('avg_salary')).otherwise(col('salary')))


resultDf.show()

+-----------+-------+------+-------------+
|employee_id|   name|salary|department_id|
+-----------+-------+------+-------------+
|          1|  Alice| 70000|           10|
|          2|    Bob|  NULL|           20|
|          3|Charlie| 80000|           10|
|          4|  David|  NULL|           30|
|          5|    Eve| 75000|           20|
|          6|  Frank| 90000|           10|
|          7|  Grace| 52000|           30|
|          8| Hannah| 62000|           20|
|          9|  Isaac|  NULL|           30|
|         10|   Jack| 71000|           20|
+-----------+-------+------+-------------+

+-------------+---------------+
|department_id|department_name|
+-------------+---------------+
|           10|    Engineering|
|           20|             HR|
|           30|      Marketing|
+-------------+---------------+

+-------------+-----------+-------+------+---------------+
|department_id|employee_id|   name|salary|department_name|
+-------------+-----------+-------+------+---------------+
|           10|          1|  Alice| 70000|    Engineering|
|           10|          3|Charlie| 80000|    Engineering|
|           10|          6|  Frank| 90000|    Engineering|
|           20|          2|    Bob|  NULL|             HR|
|           20|          5|    Eve| 75000|             HR|
|           20|          8| Hannah| 62000|             HR|
|           20|         10|   Jack| 71000|             HR|
|           30|          4|  David|  NULL|      Marketing|
|           30|          7|  Grace| 52000|      Marketing|
|           30|          9|  Isaac|  NULL|      Marketing|
+-------------+-----------+-------+------+---------------+

+-------------+-----------+-------+-----------------+---------------+-----------------+
|department_id|employee_id|   name|           salary|department_name|       avg_salary|
+-------------+-----------+-------+-----------------+---------------+-----------------+
|           10|          6|  Frank|          90000.0|    Engineering|          80000.0|
|           10|          3|Charlie|          80000.0|    Engineering|          80000.0|
|           10|          1|  Alice|          70000.0|    Engineering|          80000.0|
|           20|         10|   Jack|          71000.0|             HR|69333.33333333333|
|           20|          8| Hannah|          62000.0|             HR|69333.33333333333|
|           20|          5|    Eve|          75000.0|             HR|69333.33333333333|
|           20|          2|    Bob|69333.33333333333|             HR|69333.33333333333|
|           30|          9|  Isaac|          52000.0|      Marketing|          52000.0|
|           30|          7|  Grace|          52000.0|      Marketing|          52000.0|
|           30|          4|  David|          52000.0|      Marketing|          52000.0|
+-------------+-----------+-------+-----------------+---------------+-----------------+