<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/persistent_systems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ğğ®ğğ¬ğ­ğ¢ğ¨ğ§
You are working as a Data Engineer on a big data processing pipeline, where you need to analyze a large dataset from a retail business.
This dataset contains transaction information of customers, including a unique transaction ID, customer ID, product ID, transaction amount,
and date. The dataset has an index column, but you are required to include this index as a regular column in the DataFrame to perform some
further transformations and joins. Your task is to convert the index of the PySpark DataFrame into a column while preserving the dataset's integrity.

ğ¬ğœğ¡ğğ¦ğš
data = [ (1001, 5001, 200, "2025-01-01"),
(1002, 5002, 450, "2025-01-02"),
(1003, 5003, 300, "2025-01-03"),
(1004, 5004, 150, "2025-01-04"),
(1005, 5005, 500, "2025-01-05"), ]

# Schema for DataFrame columns = ["Customer_ID", "Product_ID", "Amount", "Date"]

In [4]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()

data= [ (1001, 5001, 200, "2025-01-01"),
(1002, 5002, 450, "2025-01-02"),
(1003, 5003, 300, "2025-01-03"),
(1004, 5004, 150, "2025-01-04"),
(1005, 5005, 500, "2025-01-05"), ]

schema= ["Customer_ID", "Product_ID", "Amount", "Date"]

df=spark.createDataFrame(data,schema)

df.show()

df1=df.withColumn("index_column",monotonically_increasing_id())

df1.show()

+-----------+----------+------+----------+
|Customer_ID|Product_ID|Amount|      Date|
+-----------+----------+------+----------+
|       1001|      5001|   200|2025-01-01|
|       1002|      5002|   450|2025-01-02|
|       1003|      5003|   300|2025-01-03|
|       1004|      5004|   150|2025-01-04|
|       1005|      5005|   500|2025-01-05|
+-----------+----------+------+----------+

+-----------+----------+------+----------+------------+
|Customer_ID|Product_ID|Amount|      Date|index_column|
+-----------+----------+------+----------+------------+
|       1001|      5001|   200|2025-01-01|           0|
|       1002|      5002|   450|2025-01-02|           1|
|       1003|      5003|   300|2025-01-03|  8589934592|
|       1004|      5004|   150|2025-01-04|  8589934593|
|       1005|      5005|   500|2025-01-05|  8589934594|
+-----------+----------+------+----------+------------+