<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/pivot_function_student_subject_wise_marks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Pyspark Interview Question
data = [("john", "maths", "50"),
 ("john", "science", "60"),
 ("john", "english", "70"),
 ("joe", "maths", "80"),
 ("joe", "science", "70"),
 ("joe", "english", "60")]

column_names = ["student", "subject", "marks"]

Expected output:
+-------+-------+-----+-------+
|student|english|maths|science|
+-------+-------+-----+-------+
|  joe |    60|   80|    70|
|  john |    70|   50|    60|
+-------+-------+-----+-------+

In [3]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()

data= [("john", "maths", "50"),
 ("john", "science", "60"),
 ("john", "english", "70"),
 ("joe", "maths", "80"),
 ("joe", "science", "70"),
 ("joe", "english", "60")]

schema=["student", "subject", "marks"]

df=spark.createDataFrame(data,schema)

df.show()

df1=df.groupBy('student').pivot('subject').agg(sum('marks'))

df1.show()

+-------+-------+-----+
|student|subject|marks|
+-------+-------+-----+
|   john|  maths|   50|
|   john|science|   60|
|   john|english|   70|
|    joe|  maths|   80|
|    joe|science|   70|
|    joe|english|   60|
+-------+-------+-----+

+-------+-------+-----+-------+
|student|english|maths|science|
+-------+-------+-----+-------+
|   john|   70.0| 50.0|   60.0|
|    joe|   60.0| 80.0|   70.0|
+-------+-------+-----+-------+