<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/pyspark_date_function_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1. Convert a String Column to Date Format
Problem: Convert the "DOB" (Date of Birth) column from string format to yyyy-MM-dd.

| Name | DOB |
+----------+--------------+
| Anjali | 12-02-1995 |
| Ramesh | 15-07-1998 |
| Priya | 09-11-2001 |

2. Calculate Age from Date of Birth
Problem: Create a new column "Age" by calculating the age from the "DOB" column.
| Name | DOB |
+---------+--------------+
| Aman | 1993-06-25 |
| Rajesh | 2000-03-10 |
| Kavita | 1996-12-15 |
+---------+--------------+

3. Filter Records for People Born After 2000
Problem: Filtcer out people born after January 1, 2000.
 Sample Data:

| Name | DOB |
+----------+--------------+
| Suresh | 2002-04-10 |
| Sunita | 1998-08-30 |
| Rohit | 2003-01-25 |
+----------+--------------+
4. Find the Month and Year of a Date
Problem: Extract the month and year from the "Joining Date" column.
 Sample Data:
| Name | Joining Date |
+-----------+---------------+
| Mahesh | 2020-05-12 |
| Neha | 2019-08-09 |
| Ajay | 2021-03-21 |
+-----------+---------------+

5. Find the Difference Between Two Dates
Problem: Calculate the number of days between "Start Date" and "End Date".
 Sample Data:
| Name | Start Date | End Date |
+----------+------------+------------+
| Prakash | 2023-01-01 | 2023-02-01 |
| Seema | 2022-07-10 | 2022-08-01 |
| Abhinav | 2023-03-15 | 2023-03-20 |

6. Add Days to a Date
Problem: Add 30 days to the "Booking Date" column.
 Sample Data:
| Name | Booking Date |
+-----------+--------------+
| Deepak | 2023-06-10 |
| Sneha | 2023-07-01 |
| Vinay | 2023-05-25 |
+-----------+--------------+
7. Find the Day of the Week for a Date
Problem: Find the day of the week for the "DOB" column.
| Name | DOB |
+--------+--------------+
| Meena | 1994-11-01 |
| Sanjay | 2001-05-15 |
| Rahul | 1997-09-09 |
+--------+--------------+

8. Group Records by Month
Problem: Group records by the month of the "Order Date" and count the number of orders.
| Name | Order Date |
+----------+-------------+
| Harsha | 2023-04-12 |
| Kavya | 2023-04-20 |
| Arjun | 2023-05-10 |
+----------+-------------+

9. Find Records for the Current Year
Problem: Filter out records where the "Purchase Date" is in the current year (2025).
| Name | Purchase Date |
| Nitin | 2025-01-15 |
| Sonia | 2024-12-31 |
| Ritu | 2025-02-10 |

10. Identify Leap Year Dates
Problem: Identify if the "Event Date" is in a leap year.

| Name | Event Date |
| Chitra | 2016-02-29 |
| Manish | 2020-03-01 |
| Pooja | 2018-07-12 |
+---------+-------------+

In [ ]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()

#Question 1

data1=[('Anjali','12-02-1995'),('Ramesh','15-07-1998'),('Priya','09-11-2001')]

schema1=['Name','DOB']

df1=spark.createDataFrame(data1,schema1)

df1.show()

df1.printSchema()

#df1=df1.withColumn('DOB',to_date(col('DOB')))

df1=df1.withColumn('DOB',col('DOB').cast('date'))

df1.printSchema()

#Question2

data2=[('Aman','1993-06-25'),('Rajesh','2000-03-10'),('Kavita','1996-12-15')]

schema2=['Name','DOB']

df2=spark.createDataFrame(data2,schema2)

df2.show()

df2.printSchema()

df2=df2.withColumn('DOB',to_date(col('DOB'),'yyyy-MM-dd'))

#df2=df2.withColumn('Age',datediff(current_date(),col('DOB'))/365.25)

df2 = df2.withColumn("Age1", floor(datediff(current_date(), col("DOB")) / 365.25))
df2.show()

+------+----------+
|  Name|       DOB|
+------+----------+
|Anjali|12-02-1995|
|Ramesh|15-07-1998|
| Priya|09-11-2001|
+------+----------+

root
 |-- Name: string (nullable = true)
 |-- DOB: string (nullable = true)

root
 |-- Name: string (nullable = true)
 |-- DOB: date (nullable = true)

+------+----------+
|  Name|       DOB|
+------+----------+
|  Aman|1993-06-25|
|Rajesh|2000-03-10|
|Kavita|1996-12-15|
+------+----------+

root
 |-- Name: string (nullable = true)
 |-- DOB: string (nullable = true)

+------+----------+----+
|  Name|       DOB|Age1|
+------+----------+----+
|  Aman|1993-06-25|  31|
|Rajesh|2000-03-10|  24|
|Kavita|1996-12-15|  28|
+------+----------+----+

In [ ]:
#Question 3

from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()

data=[('Suresh','2002-04-10'),('Sunita','1998-08-30'),('Rohit','2003-01-25')]

schema=['Name','DOB']

df=spark.createDataFrame(data,schema)

df=df.withColumn('DOB',to_date(col('DOB'),'yyyy-MM-dd'))

df1=df.filter(col('DOB')> '2000-01-01')

df1.show()

+------+----------+
|  Name|       DOB|
+------+----------+
|Suresh|2002-04-10|
| Rohit|2003-01-25|
+------+----------+