<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/Pyspark_Date_Function_Questions_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1. Extracting Year:
Given a column event_date (format: yyyy-MM-dd),
extract only the year for each row.
Sample data:
event_date: ["2023-04-15","2022-11-30", "2021-08-25"]

In [8]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()

data=[('2023-04-15',),('2022-11-30',), ('2021-08-25',)]

schema=['event_date']

df=spark.createDataFrame(data,schema)

df.show()

df=df.withColumn("event_date",to_date(col('event_date'),'yyyy-MM-dd'))

df1=df.withColumn("year",year(col('event_date')))

df1.show()

+----------+
|event_date|
+----------+
|2023-04-15|
|2022-11-30|
|2021-08-25|
+----------+

+----------+----+
|event_date|year|
+----------+----+
|2023-04-15|2023|
|2022-11-30|2022|
|2021-08-25|2021|
+----------+----+

In [ ]:
2.Date Difference Calculation:
Calculate the difference (in days) between two date
columns start_date and end_date.
Sample data:
start_date: ["2023-01-01","2023-03-15"]
end_date: ["2023-02-01","2023-03-20"]

In [12]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()

data=[("2023-01-01","2023-02-01"),("2023-03-15","2023-03-20")]

schema=["start_date","end_date"]

df=spark.createDataFrame(data,schema)

df.show()

df1=df.withColumn("days",datediff(col('end_date'),col('start_date')))

df1.show()

+----------+----------+
|start_date|  end_date|
+----------+----------+
|2023-01-01|2023-02-01|
|2023-03-15|2023-03-20|
+----------+----------+

+----------+----------+----+
|start_date|  end_date|days|
+----------+----------+----+
|2023-01-01|2023-02-01|  31|
|2023-03-15|2023-03-20|   5|
+----------+----------+----+

In [ ]:
3. Filter Records Based on Date:
Filter records where event_date is after 2023-06-01.
Sample data:
event_date: ["2023-05-15","2023-07-20","2023-06-05"]

In [15]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("learning").getOrCreate()

data=[("2023-05-15",),("2023-07-20",),("2023-06-05",)]

schema=["event_date"]

df=spark.createDataFrame(data,schema)

df.show()

df.filter("event_date > '2023-06-01'").show()

+----------+
|event_date|
+----------+
|2023-05-15|
|2023-07-20|
|2023-06-05|
+----------+

+----------+
|event_date|
+----------+
|2023-07-20|
|2023-06-05|
+----------+

In [ ]:
4. Add 30 days to each date in the order_date column.
Sample data:
order_date: ["2023-01-10", "2023-06-15", "2023-07-30"]

In [16]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

spark=SparkSession.builder.appName("learning").getOrCreate()

data=[("2023-01-10",), ("2023-06-15",), ("2023-07-30",)]

schema=['order_date']

df=spark.createDataFrame(data,schema)

df.show()

df1=df.withColumn('new_date',date_add(col('order_date'),30))

df1.show()

+----------+
|order_date|
+----------+
|2023-01-10|
|2023-06-15|
|2023-07-30|
+----------+

+----------+----------+
|order_date|  new_date|
+----------+----------+
|2023-01-10|2023-02-09|
|2023-06-15|2023-07-15|
|2023-07-30|2023-08-29|
+----------+----------+

In [ ]:
5. Find the Maximum Date:
Determine the latest date from a column
payment_date.
Sample data:
payment_date: ["2023-02-15", "2023-06-25", "2023-01-10"]

In [19]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("learning").getOrCreate()

data=[("2023-02-15",), ("2023-06-25",), ("2023-01-10",)]

schema=['payment_date']

df=spark.createDataFrame(data,schema)

df.show()

df.select(max('payment_date')).show()

+------------+
|payment_date|
+------------+
|  2023-02-15|
|  2023-06-25|
|  2023-01-10|
+------------+

+-----------------+
|max(payment_date)|
+-----------------+
|       2023-06-25|
+-----------------+