<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/TCS_Interview_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
problem statement

For a given dataset containing product categories, products, and their sales amount, find the Top 3 products by sales amount per category. However:
Twist 1: If two products have the same sales amount, prioritize the product with the smaller product name (alphabetical order).
Twist 2: Ensure the solution is scalable for large datasets with millions of records.

ğ¬ğœğ¡ğğ¦ğš ğšğ§ğ ğğšğ­ğšğ¬ğğ­

data = [ ("A", "p1", 100), ("A", "p2", 200), ("A", "p3", 200), ("B", "p4", 300)
, ("B", "p5", 150), ("B", "p6", 150), ("C", "p7", 400),
 ("C", "p8", 300), ("C", "p9", 200), ]

columns = ["category", "product", "amount"]

In [17]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

from pyspark.sql.window import Window

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

data = [ ("A", "p1", 100), ("A", "p2", 200), ("A", "p3", 200), ("B", "p4", 300)
, ("B", "p5", 150), ("B", "p6", 150), ("C", "p7", 400), ("C", "p8", 300),
 ("C", "p9", 200), ]

columns = ["category", "product", "amount"]

df=spark.createDataFrame(data,columns)

window_spec=Window.partitionBy('category').orderBy(col('amount').desc(),col('product').asc())

ranked_df=df.withColumn('rank',dense_rank().over(window_spec))

result_df=ranked_df.filter("rank <=3").drop("rank")

result_df.show()

+--------+-------+------+
|category|product|amount|
+--------+-------+------+
|       A|     p2|   200|
|       A|     p3|   200|
|       A|     p1|   100|
|       B|     p4|   300|
|       B|     p5|   150|
|       B|     p6|   150|
|       C|     p7|   400|
|       C|     p8|   300|
|       C|     p9|   200|
+--------+-------+------+