<a href="https://colab.research.google.com/github/Sreekar-Kandhadai/pyspark-interview-questions/blob/main/TechM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ğğ®ğğ¬ğ­ğ¢ğ¨ğ§
Imagine you're analyzing the monthly sales performance of a company across different regions. You want to calculate:
The cumulative sales for each region over months.
The rank of each month based on sales within the same region.

ğ¬ğœğ¡ğğ¦ğš
data = [ ("East", "Jan", 200), ("East", "Feb", 300),
("East", "Mar", 250), ("West", "Jan", 400),
("West", "Feb", 350), ("West", "Mar", 450) ]

 # Define schema and create DataFrame

columns = ["Region", "Month", "Sales"]

In [2]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

from pyspark.sql.window import Window

spark=SparkSession.builder.appName("learning").getOrCreate()

data= [ ("East", "Jan", 200), ("East", "Feb", 300),
("East", "Mar", 250), ("West", "Jan", 400),
("West", "Feb", 350), ("West", "Mar", 450) ]

schema=["Region", "Month", "Sales"]

df=spark.createDataFrame(data,schema)

window_spec=Window.partitionBy("Region").orderBy('sales')

df1=df.withColumn('cumulative_sales',sum('Sales').over(window_spec)).withColumn('rank',rank().over(window_spec))

df1.show()

+------+-----+-----+----------------+----+
|Region|Month|Sales|cumulative_sales|rank|
+------+-----+-----+----------------+----+
|  East|  Jan|  200|             200|   1|
|  East|  Mar|  250|             450|   2|
|  East|  Feb|  300|             750|   3|
|  West|  Feb|  350|             350|   1|
|  West|  Jan|  400|             750|   2|
|  West|  Mar|  450|            1200|   3|
+------+-----+-----+----------------+----+